.formLogin {
    width: 30%;
    margin: 100px auto;
    display: block;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #71bff3;
}

label {
    display: block;
    padding: 5px;
    margin: 5px auto 5px;

    font-size: 20px;
}

input {
    display: block;
    padding: 10px 5px;
    margin: 5px auto 5px;
    border-radius: 15px;
    width: 90%;
}

.btnSubmit {
    padding: 10px 10px;
    margin: 20px auto 10px;
    box-shadow: 3px 3px;
    background-color: beige;
    transition: 0.5s;
    width: 90%
}

.btnSubmit:hover {
    background-color: #ecece2;
    transform: translate(3px, 3px);
    box-shadow: none;
}