* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f8ff;
}

.img-custom {
    width: 400px;
    display: block;
    margin: 5px auto 15px;
}

.container-login-custom {
    margin: 0 auto 0;
}

.bi-lock-fill {
    font-size: 1.5rem;
    color: #235784;
}

.bi-person {
    font-size: 1.5rem;
    color: #235784;
}

.bi-search {
    font-size: 1.5rem;
    color: #235784;
}

.container-principal {
    min-height: 100vh;
    position: relative;
}

.form-floating:not(.form-control:disabled)::before {
    margin: 0;
    padding: 0;
    width: 0;
}

.container-custom {
    padding-bottom: 40px;
    margin: 0 auto 0;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem
}

.btn-custom-listas {
    background-color: #f0f8ff;
    color: black;
    border: 1px solid #5a90f5;
    border-radius: 8px;
    transition: 0.5s;
}

.btn-custom-listas:hover {
    background-color: #9be6f8;
    border: 1px solid #5a90f5;
}

.dropdown-item:hover {
    background-color: #9be6f8;
}

.table-custom {
    border-radius: 5px;
    overflow: hidden;
}

.textarea-custom {
    height: 150px;
}

.bg-custom {
    background-color: transparent;
}

.btn-custom {
    margin: 20px auto 0;
    box-shadow: 3px 3px;
    background-color: #9be6f8;
    transition: 0.5s;
    color: #235784;
}

.btn-custom:hover {
    color: #9be6f8;
    background-color: #235784;
    transform: translate(3px, 3px);
    box-shadow: none;
}

.btn-detail-custom {
    box-shadow: 3px 3px;
    background-color: #9be6f8;
    transition: 0.5s;
    padding: 2px 10px
}

.btn-detail-custom:hover {
    background-color: #5ad6f5;
    transform: translate(3px, 3px);
    box-shadow: 1px 1px;
}

.btn-modal-custom {
    box-shadow: 3px 3px;
    background-color: #9be6f8;
    transition: 0.5s;
}

.btn-modal-custom:hover {
    background-color: #5ad6f5;
    transform: translate(3px, 3px);
    box-shadow: none;
}

.footer-custom {
    background-color: #5a90f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px
}